.photo-tile-container {
  width: 25%;
  max-width: 250px;
}
.photo-tile {
  margin: 10px;
  max-width: 250px;
  cursor: pointer;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
}
.photo-container {
  background-color: #ffffff;
  padding: 10px;
}
.caption-container {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 0;
  height: 40px;
}
.caption {
  text-align: center;
  font-size: 15px;
  font-family: 'Pangolin', cursive;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .photo-tile-container {
    width: 50%;
  }
}
@media (max-width: 424px) {
  .photo-tile-container {
    width: 100%;
  }
}
