.photo-tile-container {
  width: 25%;
  max-width: 250px;
}
.photo-tile-wrapper {
  max-width: 250px;
  width: 100%;
}
.photo-tile {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
  min-height: 250px;
  padding: 10px;
  height: 100%;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.open-photo-tile {

}
.photo {
  height: 100%;
  flex: 1;
}
.caption {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Pangolin', cursive;
}

@media (max-width: 767px) {
  .photo-tile-container {
    width: 50%;
  }
}
@media (max-width: 424px) {
  .photo-tile-container {
    width: 100%;
  }
}
